<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.nightscout.androidaps.plugins.pump.medtronic">

    <application>
        <service
            android:name=".service.RileyLinkMedtronicService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.MedLinkMedtronicService"
            android:enabled="true"
            android:exported="true" />
        <activity android:name=".dialog.MedtronicHistoryActivity" />
        <activity android:name=".dialog.MedLinkMedtronicHistoryActivity" />

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
    </application>

</manifest>
